body{

    margin: 0;
    padding: 0;
    background: url("/imge/design-layout-responsive-brochure-business-banner-template-texture-powerpoint-website-187384.jpg");
    background-size: cover;
    font-family: sans-serif;
}

.loginbox{
    
    width: 420px;
    height: 520px;
    background: #000;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 40px;
    border-radius: 5px;

}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {

    width: 100%;
    margin-bottom: 30px;
}


.loginbox input[type="text"], input[type="password"]{

    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    height: 50px;
    color: white;
    font-size: 18px;
}

.loginbox input[type="submit"]{

    border: none;
    outline: none;
    height: 50px;
    background: #fb2525;
    color: white;
    font-size: 22px;
    border-radius: 30px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    color: darkgray;
}

.loginbox a:hover{
    color: #ffc107;
}

h1{
    padding: 0;
    margin: 0 0 30px;
    text-align: center;
    font-size: 32px;
}


.avatar {

    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 60px);

}